.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  /* The actual timeline (the vertical ruler) */
  &::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: #a53054;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  ul {
    width: 30rem;
  }
}

/* Container around content */
.timelineContainer {
  margin-top: 30px;
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  // circle
  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: #fd5b59;
    border: 4px solid #a53054;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    & :hover {
      transform: scale(1.2);
      transition: all 0.2s linear;
      cursor: pointer;
    }
  }
}

/* Place the container to the left */
.left {
  left: 0;
  // &::before {
  //   content: " ";
  //   height: 0;
  //   position: absolute;
  //   top: 22px;
  //   width: 0;
  //   z-index: 1;
  //   right: 30px;
  //   border: medium solid #5ab7bb;
  //   border-width: 10px 0 10px 10px;
  //   border-color: transparent transparent transparent #5ab7bb;
  // }
}

/* Place the container to the right */
.right {
  left: 50%;
  // &::before {
  //   content: " ";
  //   height: 0;
  //   position: absolute;
  //   top: 22px;
  //   width: 0;
  //   z-index: 1;
  //   left: 30px;
  //   border: medium solid #5ab7bb;
  //   border-width: 10px 10px 10px 0;
  //   border-color: transparent #5ab7bb transparent transparent;
  // }
  &::after {
    left: -13px;
  }
}

/* The actual content */
// .content {
//   padding: 20px 30px;
//   // background-color: #5ab7bb;
//   position: relative;
//   border-radius: 6px;
//   color: white;
// }

// ul {
//   width: 30rem;
//   margin-right: 10;
// }

@mixin chart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  color: white;
  text-align: center;
  flex: 0.3;
}

.tokenChart {
  @include chart;
}

.liqChart {
  @include chart;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  .liqChart {
    width: 80%;
  }

  .movingBg {
    display: none;
  }

  .timeline ul {
    width: 10rem;
  }

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .timelineContainer {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timelineContainer::before {
    left: 60px;
    border: medium solid #5ab7bb;
    border-width: 10px 10px 10px 0;
    border-color: transparent #5ab7bb transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
